body {
    margin: 0;
    overflow: hidden;
    background-color: #000;
}
 html * {
    font-family: comic sans ms, Arial, Helvetica, sans-serif;
    color: hotpink;
 }

 h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
 }

.game {
    display: flex;
    flex-direction: column;
}

canvas {
    display: block;
    margin: auto;
}

footer {
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
}